* {
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  margin: 0px;
  padding: 0px;
  height: auto;
}

@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@font-face {
  font-family: "SLEIGothicTTF";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2104@1.0/SLEIGothicTTF.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

.navbar {
  font-family: "Bebas Neue"; /*영어폰트*/

  display: flex;

  justify-content: space-between;
  align-items: center;

  width: 100%;
  height: auto;

  background-color: #272422;

  font-size: 30px;
  text-align: center;
}

.navbar_logo {
  display: flex;
  list-style: none;
  margin: 0;
  text-decoration: none;
  margin-left: 50px;
}

.navbar_logo li {
  padding: 4px;
  margin: 0;
}

.navbar_logo li a {
  color: #d71514;
  margin: 0;
  text-decoration: none;
}

#rr {
  color: ivory;
}

@media screen and (max-width: 1080px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 8px 24px;
    height: auto;
  }

  .navbar_logo {
    padding: 0;
    float: left;
    margin-left: 0;
  }
}

.big {
  font-family: SLEIGothicTTF;
  line-height: 180%;
}

.info {
  font-size: large;
}

.info span {
  font-size: x-large;
  font-weight: 600;
}

.buttons {
  display: flex;
  padding-bottom: 10px;
}

.btn {
  text-decoration: none;
  color: black;

  background-color: rgb(255, 137, 116);
  border-radius: 5px;
  border-style: none;

  padding: 5px;
  margin-left: 2px;
}

.btn:hover {
  cursor: pointer;

  background-color: rgb(252, 162, 146);
  box-shadow: 2px 2px 2px 1px rgb(247, 145, 126, 0.3);
}
